@import "tailwindcss";

/* Leaflet 地图样式 */
#map {
  z-index: 0;
}

/* 淡入动画 */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease-in;
}


::-webkit-scrollbar {
  width: 2px; /* 设置滚动条宽度 */
}

/* 滚动条轨道 */
::-webkit-scrollbar-track {
  background-color: #ffffff; /* 设置滚动条轨道的背景颜色 */
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  background-color: #c2c2c2; /* 设置滚动条滑块的背景颜色 */
  border-radius: 10px; /* 设置滚动条滑块的圆角 */
}